@import "../../styles/variables";

.projectsSection {
  padding: 8rem 0;
  background-color: $bg-color;
  min-height: 100vh;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}

.projectCard {
  @include glassmorphism;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.cardImg {
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.techBadge {
  font-size: 0.75rem;
  padding: 0.4rem 0.8rem;
  background: rgba($secondary-color, 0.1);
  color: $secondary-color;
  border: 1px solid rgba($secondary-color, 0.2);
  border-radius: 2rem;
}
