@import "../styles/variables";

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.loginCard {
  @include glassmorphism;
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  .card-body {
    padding: 2.5rem;
  }
}
